version: 2.1
jobs:
  build_test:
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: npm install --save
  build_docker_image:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build Docker Image
          command: |
            docker build -t demo_nodejs_webapp1 -t sivajanardhan/demo_nodejs_webapp1:latest .
            echo $DOCKERHUB_PASS | docker login -u sivajanardhan --password-stdin
            docker push sivajanardhan/demo_nodejs_webapp1:latest
workflows:
  build_test:
    jobs:
      - build_test
      - build_docker_image
          
